
  <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('https://image.freepik.com/vector-gratis/fondo-oscuro-hexagonos-minimos_79603-1455.jpg');">
    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
      <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">{{user.name}}</h2>
      <ul class="list-unstyled mt-auto">
        <li class="me-auto" style="margin-bottom: 5px;">
          <img src="assets/images/web.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white"> {{user.website}}
        </li>
         <li class="me-auto">
          <img src="assets/images/company.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white"> {{user.company.name}}
        </li>
        
      </ul>
    </div>
  </div>
