<div class="col">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">I introduce myself</h5>
      <p class="card-text">I am {{user.name}}, i am from {{user.address.city}} and i work at {{user.company.name}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <a class="btn btn-outline-primary " style="margin-right: 5px;" href="#/posts/{{user.id}}">My posts</a>
        <a class="btn btn-outline-primary" href="#/posts/new">New post</a>
      </li>
      <li class="list-group-item"><a class="btn btn-outline-primary"href="#/albumns/{{user.id}}">My albums</a></li>
      <li class="list-group-item">
        <a class="btn btn-outline-primary" href="#/todos/{{user.id}}">My To-dos</a>
      </li>
      
      
    </ul>
   
  </div>
</div>
