
<div class="container">
   
  <app-header></app-header>
  <app-navbar></app-navbar>
    
    
  </div>
  
  <main class="container " >
    
    <app-presentation></app-presentation>
  
    <app-advertising></app-advertising>
  
    <div class="row g-5">
      <div class="col-md-8">
        <h3 class="pb-4 mb-4 fst-italic border-bottom">
          What are your friends doing
        </h3>
       
        <div *ngFor="let apost of listPosts">
          <app-post [post]="apost" ></app-post>         
        </div>
       
       
        <nav class="blog-pagination" aria-label="Pagination">
          <a class="btn btn-outline-primary" href="#">Older</a>
          <a class="btn btn-outline-secondary disabled">Newer</a>
        </nav>
  
      </div>
  
      <div class="col-md-4">
        <div class="position-sticky" style="top: 2rem;">
         <app-friend-requests></app-friend-requests>  
         <app-more-features></app-more-features>  
         <app-chat></app-chat>        
        </div>
      </div>
    </div>
  
  </main>
  
  <app-footer></app-footer>
