<div class="container">
   
  <app-header></app-header>
  <app-navbar></app-navbar>
      
</div>
  
  <main class="container " >
    
    <app-presentation></app-presentation>
  
    <app-advertising></app-advertising>
  
    <div class="row g-5">
      <div class="col-md-8">        
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <app-main-information [user]="user" ></app-main-information>
            </div>
            <div class="col-md-6">

              <app-more-information [user]="user"></app-more-information>


            </div>
          </div>
        </div>


                                                                       
      </div>
  
      <div class="col-md-4">
        <div class="position-sticky" style="top: 2rem;">
         <app-friend-requests></app-friend-requests>  
         <app-more-features></app-more-features>  
         <app-chat></app-chat>        
        </div>
      </div>
    </div>
  
  </main>
  
  <app-footer></app-footer>

