<div class="container">
   
  <app-header></app-header>
  <app-navbar></app-navbar>
      
</div>
  
  <main class="container " >
    
    <app-presentation></app-presentation>
  
    <app-advertising></app-advertising>
  
    <div class="row g-5">
      <div class="col-md-8">        
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('https://image.freepik.com/vector-gratis/fondo-oscuro-hexagonos-minimos_79603-1455.jpg');">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                  <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">{{user.name}}</h2>
                  <ul class="list-unstyled mt-auto">
                    <li class="me-auto" style="margin-bottom: 5px;">
                      <img src="assets/images/web.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white"> {{user.website}}
                    </li>
                     <li class="me-auto">
                      <img src="assets/images/company.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white"> {{user.company.name}}
                    </li>
                    
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-6">

              <div class="col">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">I introduce myself</h5>
                    <p class="card-text">I am {{user.name}}, i am from {{user.address.city}} and i work at {{user.company.name}}</p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      <a class="btn btn-outline-primary" href="#/posts/{{user.id}}">My posts</a>
                    </li>
                    <li class="list-group-item"><a class="btn btn-outline-primary"href="#/albumns/{{user.id}}">My albums</a></li>
                    <li class="list-group-item">
                      <a class="btn btn-outline-primary" href="#/todos/{{user.id}}">My To-dos</a>
                    </li>
                  </ul>
                 
                </div>
              </div>


            </div>
          </div>
        </div>


                                                                       
      </div>
  
      <div class="col-md-4">
        <div class="position-sticky" style="top: 2rem;">
         <app-friend-requests></app-friend-requests>  
         <app-more-features></app-more-features>  
         <app-chat></app-chat>        
        </div>
      </div>
    </div>
  
  </main>
  
  <app-footer></app-footer>

